<!--  primary data -->
<div style="background-image:url({{background_image}}); background-position:center; background-repeat: no-repeat; text-shadow: 1px 1px white; padding-bottom:10px;">
  <div class="container text-center">
    <h2 style="padding-top:40px;">
      {{# if title }}
        {{title}}
      {{else}}
        {{organization}}
      {{/if}}
    </h2>
    {{#if logo}}
    <div class="logo-org">
      <img src="{{logo}}" alt="{{organization}}" class="img-responsive" width="150px">
    </div>
    {{/if}}
    {{#if is_owner}}
    <a href="{{update_url}}" class="btn btn-success">Edita esta pagina</a>
    {{/if}}
  </div>
</div>
<!-- about -->
<div class="" style="background-color:{{primary_color}}; padding-bottom:10px;">
  <div class="container text-center">
    <h3>{{# if title}}
      {{title}}
    {{else}}
      {{organization}}
    {{/if}}</h3>
    <p>{{sub_title}}</p>
  </div>
</div>
<!--  social network -->
<div class="" style="padding-bottom:10px; background-color:{{secondary_color}};">
  <div class="container text-center">
    <ul class="list-inline" style="padding-top:15px;">
    {{#if org_url}}
      <li><a href="{{org_url}}"><i class="fa fa-globe"></i> Website</a></li>
    {{/if}}
    {{#if facebook}}
      <li><a href="{{facebook}}"><i class="fa fa-facebook"></i> Facebook</a></li>
    {{/if}}
    {{#if twitter}}
      <li><a href="{{twitter}}"><i class="fa fa-twitter"></i> Twitter</a></li>
    {{/if}}
    {{#if instagram}}
      <li><a href="{{instagram}}"><i class="fa fa-instagram"></i> Instagram</a></li>
    {{/if}}
    {{#if rss_url}}
      <li><a href="{{rss_url}}"><i class="fa fa-rss"></i> RSS</a></li>
    {{/if}}
    </ul>
  </div>
</div>
<!--  extra pages -->
<div class="container" style="padding-top:10px; padding-bottom:10px;">
  <ul class="nav nav-tabs" role="tablist">
    {{#each extra_pages}}
    <li role="presentation" class="{{#if @first }}active{{/if}}"><a href="#{{slug}}" aria-controls="{{slug}}" role="tab" data-toggle="tab">{{title}}</a></li>
    {{/each}}
  </ul>
  <div class="tab-content">
    {{#each extra_pages}}
    <div role="tabpanel" class="tab-pane {{#if @first }}active{{/if}}" id="{{slug}}">{{{content}}}</div>
    {{/each}}
  </div>
</div>
<!--  propuestas -->
<div class="container">
{{#if proposals}}
  <h3 class="page-header">Propuestas</h3>
  <div class="row">
    {{#each proposals }}
      <div class="col-md-4">
        {{{card}}}
      </div>
    {{/each}}
  </div>
{{else}}
  {{#if is_owner}}
  <p>Comienza a generar tus propuestas en el siguiente <a href="{{create_proposal_url}}">enlace</a></p>
  {{/if}}
{{/if}}
</div>

<!--  propuestas apadrinadas -->
<div class="container">
{{#if sponsorships}}
  <h3 class="page-header">Propuestas Apadrinadas</h3>
  <div class="row">
    {{#each sponsorships }}
      <div class="col-md-4">
        {{{card}}}
      </div>
    {{/each}}
  </div>
{{/if}}
</div>
