<!--  primary data -->
<div style="background-color:{{primary_color}}; height:300px;">
  <div class="container text-center">
    <h2>{{organization}}</h2>
    <div class="logo-org">
      <img src="{{logo}}" alt="{{organization}}" class="img-responsive" width="150px">
    </div>
  </div>
</div>
<!-- about -->
<div class="" style="background-color:{{secondary_color}}; height:300px;">
  <div class="container text-center">
    <h3>{{title}}</h3>
    <p>{{sub_title}}</p>
  </div>
</div>
<!--  social network -->
<div class="" style="height:150px;">
  <div class="container text-center">
    <ul class="list-inline" style="padding-top:45px;">
      <li><a href="{{org_url}}"><i class="fa fa-globe"></i> Website</a></li>
      <li><a href="{{facebook}}"><i class="fa fa-facebook"></i> Facebook</a></li>
      <li><a href="{{twitter}}"><i class="fa fa-twitter"></i> Twitter</a></li>
      <li><a href="{{instagram}}"><i class="fa fa-instagram"></i> Instagram</a></li>
      <li><a href="{{rss_url}}"><i class="fa fa-rss"></i> RSS</a></li>
    </ul>
  </div>
</div>
{{#if is_owner }}
PRONTO PRONTO PRONTO:
Aquí van a ir tus Propuestas Ciudadanas.
{{/if}}
<!--  extra pages -->
<div class="container">
  <ul class="nav nav-tabs" role="tablist">
    {{#each extra_pages}}
    <li role="presentation" class="{{#if @first }}active{{/if}}"><a href="#{{slug}}" aria-controls="{{slug}}" role="tab" data-toggle="tab">{{title}}</a></li>
    {{/each}}
  </ul>
  <div class="tab-content">
    {{#each extra_pages}}
    <div role="tabpanel" class="tab-pane {{#if @first }}active{{/if}}" id="{{slug}}">{{{content}}}</div>
    {{/each}}
  </div>
</div>
